{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<section class="heading">
  <h3>Change password</h3>
  <p> <a href="{% url 'home' %}">home >></a> Change password </p>
  
</section>

<br><br>
<section>

  <form action="{% url 'password_change' %}" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <a href="{%  url 'password_reset' %}">forgitten password?</a>
    <input type="submit" class="btn btn-default btn-lg boxed-btn3 w-100" value="Change password">
  </form>
</section>
<br><br><br><br><br><br><br><br><br>
{% endblock %}