{% extends 'base.html' %}
{% load static %}
{% block content %}




<!-- home section starts  -->

<section class="home">

    <div class="image">
        <img src="{% static 'images/1.png' %}" alt="">
    </div>

    <div class="content">
        <h3>Data Tec</h3>
        <p>Data Tec Software Company, Online Courses, blogs & projects Data Tec Software Company, Online Courses, blogs & projects Data Tec Software Company, Online Courses, blogs & projects Data Tec Software Company, Online Courses, blogs & projects.</p>
        <a href="{% url 'services' %}" class="btn">get started</a>
    </div>

</section>

<!-- home section ends -->



{% endblock  %}












